<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Automatic Speech Recognition</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="auth-container">
          <div class="box">
            <form action="/login" method="post">
            <div class="form" >
                <h2>Login</h2>
                <div class="inputBox">
                    <input type="email" id='email' name="email" required>
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" id='password' name="password" required>
                    <span>Password</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="#">Forgot Password ?</a>
                    <a href="/signup">SignUp</a>
                </div>
                <button class="button"  span>LOGIN</span></button>
            </div>
          </form>
        </div>
        </div>
    </body>
</html>