<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Talk Time Analytics</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta name="description" content="Talk Time Analytics" />
    <meta name="author" content="Deepgram" />
    <link href="/main.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900|Source+Sans+Pro|Fira+Code|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        font-family: "Source Sans Pro", sans-serif;
      }
    </style>
  </head>
<body>
    <!---------start------>
    <div class="mt-40 flex flex-row space-x-10">
      <div id="file-form">
        <form class="flex flex-col space-y-3" id="submit" action="/" enctype="multipart/form-data" method="POST">
          <span class="font-bold text-sm">FROM YOUR DEVICE:</span>
          <input type="file" id="file-input" name="file" required hidden />
  
          <label class="bg-mint py-2 text-darkcharcoal w-60 cursor-pointer rounded-md text-center font-bold"
            for="file-input" id="file-input-label">
            Browse Files
          </label>
          <div class="font-bold text-3xl py-3 in-second-screen" id="file-name" hidden></div>
        <!-----checkbuttons--->
  <div   class="confidence-list">
    <!-- <label   class="switch1"> <h1  id="a">Confidence</h1>
      <input   id="switch-button1" type="checkbox" onclick="linkPageContact()">
      <span   class="sliderround1">	</span>
    </label> -->
    
    <label   class="switch2"> <h1  id="b">Diarize </h1>
      <input   id="switch-button2" type="checkbox" onclick="linkPageContact('diarize',this)">
      <span   class="sliderround2">	</span>
    </label>
  
    <label   class="switch3"> <h1  id="c">Punctuate</h1>
      <input   id="switch-button3" type="checkbox" onclick="linkPageContact('punctuate',this)">
      <span   class="sliderround3">	</span>
    </label>
  
    <label   class="switch4"> <h1  id="d">Numeral</h1>  
      <input   id="switch-button4" type="checkbox"  onclick="linkPageContact('numerals',this)">
      <span   class="sliderround4">	</span>
    </label>

    <label   class="switch4"> <h1  id="d">Utterances</h1>  
      <input   id="switch-button4" type="checkbox"  onclick="linkPageContact('utterances',this)">
      <span   class="sliderround4">	</span>
    </label>
  </div>  
  <input type="hidden" id="diarize" name="diarize" value="false">
  <input type="hidden" id="punctuate" name="punctuate"  value="false">
  <input type="hidden" id="numerals" name="numerals"  value="false">
  <input type="hidden" id="utterances" name="utterances"  value="false">
         <!------- Check-buttons----->

          <button type="submit" class="in-second-screen text-darkcharcoal bg-mint py-2 w-60 rounded-md font-bold" id="submit" >
            Analyze
          </button>
        </form>
      </div>
      <!-- <div id="url-form">
        <form class="flex flex-col space-y-3" action="/" method="POST">
          <span class="font-bold text-sm">FROM AN URL:</span>
          <input type="text" id="url-input"
            class="bg-darkcharcoal p-2 border border-casper border-solid rounded-md placeholder-steel w-60" name="url"
            placeholder="myremoteurl-file.com" required />
          <button type="submit" class="in-second-screen text-darkcharcoal bg-mint py-2 w-60 rounded-md font-bold" id="submit" >
            Analyze
          </button>
        </form>
      </div> -->
    </div>


    <button type="button" class="in-second-screen text-casper font-bold mt-10 self-start text-sm" id="go-back-button"
      hidden>
      〈 GO BACK
    </button>
<!--------Initial state------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- <script>
  $(':input').on('input', submitForm);

  
  function submitForm() {
        var form = $(this).closest('form')[0];
       form.submit();
    }

    $(':input').on('input', submitForm);
   </script> -->  
  

    <!----scripts------>
    <script>
    const urlForm = document.querySelector("#url-form");
    // const urlInput = document.querySelector("#url-input");
    const fileForm = document.querySelector("#file-form");
    const fileInput = document.querySelector("#file-input");
    const fileName = document.querySelector("#file-name");
    const fileInputLabel = document.querySelector("#file-input-label");
    const goBackButton = document.querySelector("#go-back-button");


    // const list = document.querySelector(".confidence-list");
    // const switch1 = document.querySelectorAll(".switch1");
    // const switch2 = document.querySelectorAll(".switch2");
    // const switch3 = document.querySelectorAll(".switch3");
    // const switch4 = document.querySelectorAll(".switch4");
    // const sliderround1 = document.querySelectorAll(".sliderround1");
    // const sliderround2= document.querySelectorAll(".sliderround2");
    // const sliderround3 = document.querySelectorAll(".sliderround3");
    // const sliderround4 = document.querySelectorAll(".sliderround4");
    // const a = document.querySelector("#a");
    // const b = document.querySelector("#b");
    // const c = document.querySelector("#c");
    // const d = document.querySelector("#d");
    // const sbtn = document.querySelector("#switch-button1");
    // const sbtn2 = document.querySelector("#switch-button2");
    // const sbtn3= document.querySelector("#switch-button3");
    // const sbtn4 = document.querySelector("#switch-button4");
    urlInput.addEventListener("input", () => {
      fileForm.hidden = true;
      document
        .querySelectorAll(".in-second-screen")
        .forEach((node) => (node.hidden = false));
    });


    fileInput.addEventListener("change", () => {
      urlForm.hidden = true;
      fileInputLabel.hidden = true;
      fileName.textContent = fileInput.files[0].name;
      // list.hidden = false;
      // switch1.hidden = false;
      // switch2.hidden = false;
      // switch3.hidden = false;
      // switch4.hidden = false;
      // sliderround1.hidden = false;
      // sliderround2.hidden = false;
      // sliderround3.hidden = false;
      // sliderround4.hidden = false;
      // a.hidden = false;
      // b.hidden = false;
      // c.hidden = false;
      // d.hidden = false;
      // sbtn.hidden = false;
      // sbtn2.hidden = false;
      // sbtn3.hidden = false;
      // sbtn4.hidden = false;
      document
        .querySelectorAll(".in-second-screen")
        .forEach((node) => (node.hidden = false));
    });


    goBackButton.addEventListener("click", () => {
      document
        .querySelectorAll(".in-second-screen")
        .forEach((node) => (node.hidden = true));
      urlForm.hidden = false;
      fileForm.hidden = false;
      fileInput.value = null;
      fileInputLabel.hidden = false;
    });

    function handleSubmit() {
      const submitButtonNode = this.querySelector("button[type='submit' value='Submit']");
      console.log(submitButtonNode, this);
      submitButtonNode.classList.add("opacity-50", "cursor-not-allowed");
      submitButtonNode.innerText = "Analyzing...";
      submitButtonNode.disabled = true;
    }

    urlForm.addEventListener("submit", handleSubmit);
    fileForm.addEventListener("submit", handleSubmit);
</script>


<!----Checkbuttons---->


<script>
// // CheckBox
// // 1 Confidence
// function Check() {
//   // Get the checkbox
//   var checkBox = document.getElementById("switch-button1");
//   // Get the output text
//   var text = document.getElementById("div1");
// var text1 = document.getElementById("div2");
//   // If1 the checkbox is checked, display the output text
//   if (checkBox.checked == true){
//     text.style.display = "none";
//     text1.style.display = "block";
    
//   } else {  
//   text.style.display = "block"
//     text1.style.display = "none";
//   }
// }

// // 2 Speaerid
// function Check2() {
//   // Get the checkbox
//   var checkBox = document.getElementById("switch-button2");
//   // Get the output text
//   var text = document.getElementById("div1");
// var text1 = document.getElementById("div2");
// var text2 = document.getElementById("div3");

//   // If1 the checkbox is checked, display the output text
//   if (checkBox.checked == true){
//     text.style.display = "none";
//     text1.style.display = "none";
//     text2.style.display = "block";

    
//   } else {  
//   text.style.display = "block"
//     text1.style.display = "none";
//     text2.style.display = "none";

//   }
// }

// // 3 Punctuation


// function Check3() {
//   // Get the checkbox
//   var checkBox = document.getElementById("switch-button3");
//   // Get the output text
//   var text = document.getElementById("div1");
// var text1 = document.getElementById("div2");
// var text2 = document.getElementById("div3");
// var text3 = document.getElementById("div4");

//   // If1 the checkbox is checked, display the output text
//   if (checkBox.checked == true){
//     text.style.display = "none";
//     text1.style.display = "none";
//     text2.style.display = "none";
//     text3.style.display = "block";

    
//   } else {  
//   text.style.display = "block"
//     text1.style.display = "none";
//     text2.style.display = "none";
//     text3.style.display = "none";
//   }
// }


// function submitIfFormComplete()
// {
//   // Check the select has something selected
//   if (document.getElementById('file-input').selectedIndex > 0)
//   {
//       document.getElementById('file-form').submit();
//   }
// }

function linkPageContact(param,element) {
    var checked = $(element).is(':checked');
    console.log(checked);
      $('#'+param).val(checked);
  

      }

// function linkPageContact2(clicked_id2) {
//   localStorage.setItem("chkId", clicked_id2);
// }
// function linkPageContact3(clicked_id3) {
//   localStorage.setItem("chkId", clicked_id3);
// }
// function linkPageContact4(clicked_id4) {
//   localStorage.setItem("chkId", clicked_id4);
// }

</script>

</body>
</html>