.mt-40.flex.flex-row.space-x-10 {
    float: left;
    width: 100%;
    margin-left: 50px;
    margin-top: 20pc;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    background: #1e5a76;
}
span.font-bold.text-sm {
    float: left;
    width: 20%;
    color: #fff;
    background: #0b9341;
    text-align: center;
    margin: 0px 36px 0 52px;
}
label#file-input-label {
    width: 11%;
    float: left;
    background: #ef4822;
    text-align: center;
    padding: 2px 4px;
    color: #fff;
    border-radius: 20px;
}
button.in-second-screen.text-darkcharcoal.bg-mint.py-2.w-60.rounded-md.font-bold {
    margin: 100px 0 0 0;
    background: #e5d40e;
    width: 20%;
    padding: 3px 4px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}


/***********Transcript***********/



.flex.flex-col.items-center.mt-16 {
    width: 100%;
    float: left;
    margin-top: 17%;
    margin-left: 10%;
}
.font-bold.text-3xl {
    font-size: 25px;
    color: #fff;
}

audio.mt-10 {
    margin: 52px 0 0 15pc;
}


.flex.flex-row.space-x-8.flex-wrap.mt-16 {
    margin: 29px 0 0 0;
    padding: 0pc;
    float: left;
    color: #18ff15;
}
.boxes {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
}
.words-box {
    margin: 0px;
    padding: 2rem;
    float: left;
    width: 60%;
    background: rgba(11.76%,17.25%,23.53%,1);
    min-height: 14rem;
    line-height: 1.625;
}
.word-box2{
    margin: 0px;
    padding: 2rem;
    float: left;
    width: 60%;
    background: rgba(11.76%,17.25%,23.53%,1);
    min-height: 14rem;
    line-height: 1.625; 
}
#pu{
  display: inline;
}
.side-box {
    width: 45%;
    float: left;
    margin: 0 ;
}
.side-box2 {
  width: 48%;
  float: left;
  margin: 10px 0 00 61px;
}
audio {
    width: 100%;
    max-width: 600px;
}

.parent {
    padding: 3em 2rem 2rem;
}

.side-box h3 {
    text-align: left;
    color: #05f30d;
    width: 96%;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    background-color: rgba(30.98%,38.43%,47.06%,1);
    margin: 10px 0 0 0;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}

.side-box .sidewords {
    word-break: break-all;
    background-color: rgba(20.78%,27.45%,34.9%,1);
    max-height: 250px;
    padding: 1rem;
    overflow-y: scroll;
    width: 100%;
}
.boxyz {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
.side-box .sidewords pre {
    font-size: 14px;
    word-break: break-all;
    color: #FFF;
    white-space: pre-wrap;
    line-height: 1.6;
}

.side-box2 h3 {
    text-align: left;
    color: #05f30d;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    background-color: rgba(30.98%,38.43%,47.06%,1);
    margin: 0;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}

.side-box2 .sidewords2 {
    word-break: break-all;
    background-color: rgba(20.78%,27.45%,34.9%,1);
    max-height: 250px;
    padding: 1rem;
    overflow-y: scroll;
}

.side-box2 .sidewords2 pre {
    font-size: 14px;
    word-break: break-all;
    color: #FFF;
    white-space: pre-wrap;
    line-height: 1.6;
}

h1 {
    text-align: left;
}
.words-box {
    margin: 0px;
    padding: 3px 4px;
    float: left;
    width: 47%;
    border: 2px solid #05f30d;
}
.word-box2 {
    margin: 0px;
    padding: 3px 4px;
    float: left;
    width: 60%;
    border: 2px solid #05f30d;
}
.word-box2 {
    margin: 0px 29px 0 0 ;
    padding: 3px 4px;
    float: left;
    width: 47%;
    background: rgba(11.76%,17.25%,23.53%,1);
    min-height: 14rem;
    line-height: 1.625;
}
h1 {
    text-align: center;
    color: #05f30d;
}
p {
    color: #fff;
}
.json-box {
    width: 30%;
    float: left;
}
.json-box {
    margin: 0px 0 0 38px;
    padding: 3px 4px;
    float: left;
    width: 30%;
    border: 2px solid #05f30d;
}

.speaker {
    display: none;
}

/* .boxes {
    display: inline-flex;
} */

.boxes:nth-child(2) {
    display: flex;
}
.words{
color:#000;
cursor: pointer;
}
.words1{
    color:white;
}
.area {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.fr-element  p{
color: #000;
}
#fr-logo>svg {
    height: 20px;
    width: 47px;
    margin: 7px 0;
    display: none;
    cursor: pointer;
}
#fr-logo>span {
    display: none;
    float: left;
    font-family: sans-serif;
    padding: 11px 5px 10px 15px;
    font-size: 12px;
    font-weight: 500;
    color: #b1b2b7;
}
#fr-logo>span {
    display: none;
    float: left;
    font-family: sans-serif;
    padding: 11px 5px 10px 15px;
    font-size: 12px;
    font-weight: 500;
    color: #b1b2b7;
}
button {
    margin: 10px;
    padding: 5px 9px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    /* transition: 0.9s; */
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before{
    color: #fff;
}

.ql-snow .ql-stroke {
    stroke: #fff !important;
}

.ql-toolbar.ql-snow {
    background-color: #223741;
}

.ql-editor {
    background-color: #1e2c3c;
}

.ql-editor p {
    line-height: 1.625;
    font-size: 15px;
}

.area {
    width: 61%;
    margin: 4rem 0;
}

.area button.copy {
    background: #e5d40e;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    min-width: 150px;
    padding: 14px 12px;
    line-height: 1;
    margin-bottom: 1px;
    margin-left: 0;
}

area button {
    margin-bottom: 0;
}
.area button.copy:hover{
    background-color: #ada11e;
}
/* Style buttons */
.btn {
    background: #e5d40e;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    min-width: 150px;
    padding: 14px 12px;
    line-height: 1;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #ada11e;
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #ccc;
    background: #1e2c3c;
}   
.ql-snow .ql-editor h1 {
    font-size: 2em;
    color: #fff;
}
.ql-snow .ql-editor h2 {
    font-size: 1.5em;
    color: #fff;
}
.ql-snow .ql-editor h3 {
    font-size: 1.17em;
    color: #fff;
}

/*****************************CheckBUtton***********************************/
.switch {
    position: relative;
    display: inline-block;
  }
  .switch h1 {
    text-align: center;
    color: #FFF;
    font-size: 30px;
}
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    right: -70px;
    bottom: 40px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 58px;
    height: 31px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    border-radius: 34px;
}
.flex_bold {
    display: flex;
    justify-content: center;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 0 0 22px;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  /****************ToolTip for Confidence****************/
/* 
  .words-box {
    position: relative;
  }
  .words-box .tooltiptext{
    visibility: hidden;
    width: 72px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 9%;
    left: 5%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .words-box .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    width: 100%;
    height: 100%;
  }
  
  .words-box:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .flex.bold {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .dropdown {
    width: 30%;
  } */

  .mt-40.flex.flex-row.space-x-10 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
}

#file-name {
    padding-left: 20px;
    padding-top: 30px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#url-form form {
    align-items: center;
    flex-wrap: wrap;
}

#file-form form,
#url-form form {
    display: flex;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

#file-form form {
    margin-bottom: 40px;
}

#file-form form span,
#url-form form span {

        width: fit-content;
        min-width: 40px;
        height: 16px;
        padding: 7px;
        border-radius: 28px;
        margin-left: 0;
    }

#file-form form label,
#url-form form label {
    width: 20%;
    min-width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 183px;
    cursor: pointer;
}

#file-form form input,
#url-form form input {
    min-height: 34px;
    padding: 0 7px;
    outline: none;
    border-radius: 3px;
    box-shadow: none;
    border: none;
}

#file-form form button,
#url-form form button {
    margin-top: 30px;
    width: 45%;
    padding: 10px 20px;
    cursor: pointer;
}

#go-back-button {
    background: #e5d40e;
    border: none;
    padding: 12px 12px;
    min-width: 150px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.confidence-list {
    display: flex;
    width: 100%;
    margin: 20px 0 45px;
    justify-content: center;
}

.confidence-list label {
    display: flex;
    align-items: center;
    width: 25%;
    max-width: 230px;
    justify-content: center;
}

.confidence-list label h1 {
    margin: 0;
    font-size: 24px;
}

.confidence-list label .slider {
    position: relative;
    top: 0;
    left: 0;
}
.confidence-list label .sliderround1 {
    position: relative;
    top: 0;
    left: 0;
}.confidence-list label .sliderround2 {
    position: relative;
    top: 0;
    left: 0;
}.confidence-list label .sliderround3 {
    position: relative;
    top: 0;
    left: 0;
}.confidence-list label .sliderround4 {
    position: relative;
    top: 0;
    left: 0;
}

/**************Before ******************/

.abc h1 {
    text-align: center;
    color: #f1f3f4;
    font-size: 20px;
    font-weight: 400;
}
.abc button {
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    /* transition: 0.9s; */
    text-align: center;
    margin: 0px 0 0 27pc;
    background: #ff0;
    outline: none;
    border: none;
    border-radius: 34px;
    cursor: pointer;
}
.abc button:hover{
    background: #d2da07;
    color: #000;
}

pre#div2 {
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 3;
}
pre#div3 {
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 3;
}pre#div4 {
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 3;
}


button#submit1 {
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    /* transition: 0.9s; */
    text-align: center;
    margin: 15px 0 0 27pc;
    background: #ff0;
    outline: none;
    border: none;
    border-radius: 34px;
    cursor: pointer;
}
button#submit1:hover{
    background: #d2da07;
    color: #000;
}
span#font{
    width: fit-content;
    min-width: 160px;
    height: fit-content;
    padding: 7px;
    border-radius: 5px;
    margin-left: 0;
    background: #04aa6d;
}
label#bold{
    width: 11%;
    float: left;
    background: #ef4822;
    text-align: center;
    padding: 2px 4px;
    color: #fff;
    border-radius: 20px;
}

#flex {
    padding-top: 4rem;
}

#flex .transcript-button {
    margin-top: 15px;
}

@media only screen and (min-width: 768px) {
    .browse {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .browse #bold {
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 40px;
        font-weight: bold;
    }
}

.switch1 {
    position: relative;
    display: inline-block;
  }
  .switch1 h1 {
    text-align: center;
    color: #FFF;
    font-size: 30px;
}
  .switch1 input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
.switch2 {
    position: relative;
    display: inline-block;
  }
  .switch2 h1 {
    text-align: center;
    color: #FFF;
    font-size: 30px;
}
.switch2 input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch3 {
    position: relative;
    display: inline-block;
  }
  .switch3 h1 {
    text-align: center;
    color: #FFF;
    font-size: 30px;
}
.switch3 input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch4 {
    position: relative;
    display: inline-block;
  }
  .switch4 h1 {
    text-align: center;
    color: #FFF;
    font-size: 30px;
}
  .switch4 input { 
    opacity: 0;
    width: 0;
    height: 0;
  }


/****************************************************************/

.sliderround1 {
    position: absolute;
    cursor: pointer;
    right: -70px;
    bottom: 40px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 58px;
    height: 31px;
  }
  
  .sliderround1:before {
    position: absolute;
    content: "";

    height: 24px;
    width: 21px;
    border-radius: 40px;

    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderround1 {
    background-color: #2196F3;
  }
  
  input:focus + .sliderround1 {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderround1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 
  /* Rounded sliderround1s */
  .sliderround1 .round {
    border-radius: 34px;
  }
  
  .sliderround1 .round:before {
    border-radius: 50%;
  }
/***2**/


.sliderround2 {
    position: absolute;
    cursor: pointer;
    right: -70px;
    bottom: 40px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 58px;
    height: 31px;
  }
  
  .sliderround2:before {
    position: absolute;
    content: "";

    height: 24px;
    width: 21px;
    border-radius: 40px;

    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderround2 {
    background-color: #2196F3;
  }
  
  input:focus + .sliderround2 {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderround2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 /**/

  /* Rounded sliderround2s */
  .sliderround2.round {
    border-radius: 34px;
  }
  
  .sliderround2.round:before {
    border-radius: 50%;
  }

/**3*/


.sliderround3 {
    position: absolute;
    cursor: pointer;
    right: -70px;
    bottom: 40px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 58px;
    height: 31px;
  }
  
  .sliderround3:before {
    position: absolute;
    content: "";

    height: 24px;
    width: 21px;
    border-radius: 40px;

    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderround3 {
    background-color: #2196F3;
  }
  
  input:focus + .sliderround3 {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderround3:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 
  /**/

 
  
  /* Rounded sliderround3s */
  .sliderround3.round {
    border-radius: 34px;
  }
  
  .sliderround3.round:before {
    border-radius: 50%;
  }

  /*******************************************************4********/


.sliderround4 {
    position: absolute;
    cursor: pointer;
    right: -70px;
    bottom: 40px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 58px;
    height: 31px;
  }
  
  .sliderround4:before {
    position: absolute;
    content: "";

    height: 24px;
    width: 21px;
    border-radius: 40px;

    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderround4 {
    background-color: #2196F3;
  }
  
  input:focus + .sliderround4 {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderround4:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 

/**/

  
  /* Rounded sliderround4s */
  span.sliderround4.round {
    border-radius: 34px;
  }
  
  .sliderround4.round:before {
    border-radius: 50%;
  }

.confidence-list span {
    width: fit-content;
    min-width: 40px;
    height: 16px;
    padding: 7px;
    border-radius: 28px;
    margin-left: 0;
}

body .boxes-list-conainer {
  display: none;
}

body div:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.ql-toolbar.ql-snow {
  display: block;
}

body .dropdown .dropdown-content,
body div .flex .speaker{
  display: none;
}

body .boxes-list-conainer .boxyz {
  flex-direction: row;
}

.words-box {
  display: flex;
  flex-wrap: wrap;
}

.words-box h1 {
  width: 100%;
}

span.words {
  padding: 0 2px;
  width: fit-content !important;
  margin-top: 0 !important;
}

.words-box span {
  width: 100%;
  margin-top: 15px;
}

.word-box2 {
  height: fit-content;
}